*,
*:focus {
    box-sizing: border-box;
    margin: 0;
    outline: none
}
a {
    outline: none;
    text-decoration: none;
    color: #2B2A29;
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
}
html,
body {
    padding: 0;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    max-width: 1920px;
    margin: 0 auto;
    color: #2B2A29;
    background-color: #ffffff;
    /*400 700 900*/
}
.shop_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
}
.mobiles_wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}
.shop_wrapper .shop_title {
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 40px;
}
.mobiles_wrapper .mobile {
    padding: 20px;
    flex: 0 0 calc(100% / 5);
    cursor: pointer;
}
.mobiles_wrapper .mobile-bg {
    background: linear-gradient(122.04deg,#14e9b6 23.38%,#076deb 82.75%);
}
.mobiles_wrapper span {
    font-size: 1vw;
    display: block;
    margin-bottom: 10px;
}
.mobiles_wrapper .name {
}
.mobiles_wrapper .model {
}
.mobiles_wrapper .price {
    color: red;
}
.mobiles_wrapper .image {
    margin-top: 30px;
    max-width: 205px;
    max-height: 175px;
}
.mobiles_wrapper .delete_btn {
    display: block;
    margin: 20px auto 0;
    padding: 5px 10px;
    background: transparent;
    border: 2px solid #14e9b6;
    color: #14e9b6;
    font-size: 1vw;
    line-height: normal;
    transition: .3s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.mobiles_wrapper .delete_btn .btn_title {
    z-index: 1;
    position: relative;
    margin-bottom: 0;
}
.mobiles_wrapper .delete_btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 120%;
    background: #076deb;
    width: 100%;
    height: 100%;
    transition: all .6s;
}
.mobiles_wrapper .delete_btn:hover:before {
    right: 0;
}
.mobiles_wrapper .delete_btn:hover {
    border-color: #076deb;
    color: #fff;
}
.mobiles_wrapper .delete_btn:active {
    transform: translateY(2px);
}