.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.view-container {
    margin: 40px 0;
}
.view-container .container {
    overflow: hidden;
}
.header{
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}
.header h1{
    font-size: 3.5rem;
}
.itemButton {
    margin-top: 20px;
    text-align: center;
}
.itemButton .btn:disabled {
    cursor: not-allowed;
}
.blosd button {
    cursor: default;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-left: none;
    border-radius: 0 .25rem .25rem 0;
}
.delete-cart {
    background: url(/store/images/trash.svg) no-repeat 0 0;
    background-size: cover;
    display: block;
    height: 24px;
    width: 24px;
    margin: 0 auto;
    transition: all 0.3s linear;
}
.delete-cart:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.books .book-list {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-bottom: 5%;
}
.castom-img {
    height: 290px;
    margin: 0 auto;
    display: block;
}
.well {
    border-radius: 4px;
    margin-top: 10%;
    background: #e4e4e4;
    padding: 5px;
}
.total-user-checkout {
    margin-right: 20px;
    margin-top: 15px;
    margin-left: auto;
}
.total {
    margin: 5px 5px 5px 0;
}
.info-block {
}
.info-block .item {
}
.info-block .item-inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #ddd;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
.info-block .item-td {
    width: 20%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown .btn-inverse {
    background: #50a8e1;
    border: 1px solid #2d6898;
    border-radius: 0;
    color: #fff;
}
.dropdown .btn-inverse:hover {
    background: rgba(80, 168, 225, .9);
}
.dropdown .icon {
    position: absolute;
    left: 9%;
}
.dropdown .price-info {
    padding-left: 20px;
}
.dropdown .icon.anime > i {
    animation: wobble-hor-bottom 0.8s both;
}
.phone-sidebar .form-group {
    margin-top: 1rem;
}
.phone-sidebar .form-group h2:nth-of-type(2) {
    margin-bottom: 1rem;
}
.column {
    border-bottom: 1px dashed #E5E5E5;
    clear: both;
    overflow: hidden;
}
.column .ab-details-title {
    float: left;
    font-size: 1.5em;
    line-height: 50px;
    color: #666;
}
.ab-details-info {
    float: left;
    line-height: 55px;
    margin-left: 10px;
    font-size: 12px;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}
.caption {
    margin-top: 1rem;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 10px;
}
.pagination-block {
}
.pagination-block .btn {
    margin-right: 10px;
}
.option-btn .btn-title {
    padding-left: .5em;
}
.option-btn .btn {
    margin-bottom: .5em;
}
.btn {
    transition: all 0.3s linear;
}
.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}
.basket_service-btn.entered {
    opacity: 0;
    transition: opacity 300ms ease-in;
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-3px) rotate(-6deg);
    }
    30% {
        transform: translateX(3px) rotate(6deg);
    }
    45% {
        transform: translateX(-3px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(3px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-3px) rotate(-1.2deg);
    }
}
.empty-block {
    opacity: 0;
    transition: opacity 0.5s linear;
    position: absolute;
}
.empty-block.show {
    opacity: 1;
}
.list-group-item {
    transition: 0.3s linear;
}
.page-enter {
    opacity: 0;
    transform: translateY(-10%);
}
.page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 800ms, transform 800ms;
}
.page-exit {
    opacity: 1;
    transform: translateY(0);
}
.page-exit-active {
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 800ms, transform 800ms;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {
    .well {
        margin: 5% 0;
    }
    .option-btn{
        padding-top: 45px;
    }
    .empty-block {
        text-align: center;
        left: 50%;
        width: max-content;
        transform: translateX(-50%);
    }
    .header h1 {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 480px) {
    .info-block .item-td {
        font-size: 14px;
    }
}
@media only screen and (max-width: 320px) {
}