// Font
$montserratRegular       : 'Montserrat Regular', sans-serif;
$montserratBold          : 'Montserrat Bold';

// Size
$mainFontSize            : 16px;

$mainWidth               : 1920px;
$lgDesktopWidth          : 1410px;
$smDesktopWidth          : 1260px;
$lgTableWidth            : 1024px;
$smTableWidth            : 768px;
$phoneWidth              : 480px;

// Main color
$white-color             : #fff;
$black-color             : #000;
$gray-color              : #303030;
$orange-color            : #FF9402;