*:focus {
  box-sizing: border-box;
  margin: 0;
  outline: none
}
a {
  outline: none;
  text-decoration: none;
  color: #2B2A29;
}
li {
  list-style-type: none;
}
ul {
  padding: 0;
}
html,
body {
  padding: 0;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  max-width: 1920px;
  margin: 0 auto;
  color: #2B2A29;
  background-color: #ffffff;
  /*400 700 900*/
}
.shop_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}
.shop_wrapper .shop_title {
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 40px;
}
.mobile_bg {
  background: linear-gradient(122.04deg,#14e9b6 23.38%,#076deb 82.75%);
}