@import "utils/libs";
@import "utils/mixins";
@import "utils/vars";
@import "utils/fonts";
@import "utils/reset";
@import "utils/animation";
@import "utils/mobile";


body,
html,
#react-container {
  min-height: 100vh;
}

body,
h1, h2, h3, h4, h5,
p, td, span, div {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

html,
body {
  padding: 0;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
  color: #2B2A29;
  background-color: #ffffff;
  /*400 700 900*/
}

#react-container {
  padding: 1em;
  background-color: #EEE;
}

.shop_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  overflow: hidden;
  position: relative;

  .shop_title {
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .mobiles_wrapper {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    padding: 5px;

    .name,
    .price,
    .model {
      font-size: 1vw;
      display: block;
      margin-bottom: 10px;
    }

    .mobile {
      padding: 15px;
      flex: 0 0 calc(100% / 5);
      cursor: pointer;
      transition: all 0.3s linear;

      &.mobile-bg {
        background: linear-gradient(122.04deg, #14e9b6 23.38%, #076deb 82.75%);
      }

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
      }

      &:hover{
        box-shadow: 1px 1px 5px #000;
      }
    }

    .price {
      color: #ff0000;
    }

    .image {
      margin-top: 30px;
      max-width: 205px;
      max-height: 175px;
    }
  }
}

.shop_main{

}

.info_list {
  position: fixed;
  top: 3%;
  left: 3%;
  box-shadow: 2px 2px 10px #000;
  background: white;
  padding: 5px;
  z-index: 1;

  .info_item {
    font-size: 1.35vw;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    width: max-content;
  }
}

.edit_form,
.add_form{
  max-width: 50%;
  text-align: center;
  flex: 0 0 50%;
  margin: 40px auto 0;

  .list {

  }

  .list_item {
    position: relative;
  }

  .form_btn_block {
    display: flex;
    justify-content: center;
  }

  .form_input {
    height: 45px;
    padding: 0 20px;
    background: transparent;
    border: 1px solid #fff;
    margin-bottom: 20px;
  }

  .error_label {
    color: #ff0000;
    transition: all 0.6s ease-in;
    position: absolute;
    top: 4px;
  }
}

.shop_btn {
  display: block;
  padding: 5px 10px;
  background: transparent;
  font-size: 1vw;
  line-height: normal;
  transition: .3s;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 120%;
    background: #076deb;
    width: 100%;
    height: 100%;
    transition: all .6s;
  }

  &:hover {
    border-color: #076deb;
    color: #fff;

    &:before {
      right: 0;
    }
  }

  &:active {
    transform: translateY(2px);
  }

  .btn_title {
    z-index: 1;
    position: relative;
    margin-bottom: 0;
  }

  &.disabled {
    border: 2px solid #ff0000;
    color: #ff0000;
    cursor: not-allowed;

    &:hover {
      border-color: #ff0000;
      color: #ff0000;

      &:before {
        display: none;
      }
    }
    &:active {
      transform: none;
    }
  }
}

.delete_btn {
  margin: 20px auto 0;
  border: 2px solid #ff0000;
  color: #ff0000;
}

.add_btn {
  margin: 20px auto 0;
  border: 2px solid #14e9b6;
  color: #14e9b6;
}

.edit_btn {
  margin: 20px auto 0;
  border: 2px solid #003D88;
  color: #003D88;
}

.save_btn {
  margin: 20px;
  border: 2px solid #14e9b6;
  color: #14e9b6;
}

.cancel_btn {
  margin: 20px;
  border: 2px solid #ff0000;
  color: #ff0000;
}

.add_form_btn{
  margin: 20px;
  border: 2px solid #14e9b6;
  color: #14e9b6;
}