.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.item {
    padding: 20px;
    flex: 0 0 calc(100% / 5);
    cursor: pointer;
}
span {
    font-size: 1vw;
    display: block;
    margin-bottom: 10px;
}
.name {

}
.model {

}
.price {
    color: red;
}
.image {
    margin-top: 30px;
    max-width: 205px;
    max-height: 175px;
}
.delete_btn {
    display: block;
    margin: 20px auto 0;
    padding: 5px 10px;
    background: transparent;
    border: 2px solid #14e9b6;
    color: #14e9b6;
    font-size: 1vw;
    line-height: normal;
    transition: .3s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.btn_title {
    z-index: 1;
    position: relative;
    margin-bottom: 0;
}
.delete_btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 120%;
    background: #076deb;
    width: 100%;
    height: 100%;
    transition: all .6s;
}
.delete_btn:hover:before {
    right: 0;
}
.delete_btn:hover {
    border-color: #076deb;
    color: #fff;
}
.delete_btn:active {
    transform: translateY(2px);
}