.add_btn {
    display: block;
    margin: 20px 50px;
    padding: 5px 10px;
    background: transparent;
    border: 2px solid #14e9b6;
    color: #14e9b6;
    font-size: 1vw;
    line-height: normal;
    transition: .3s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.btn_title {
    z-index: 1;
    position: relative;
    margin-bottom: 0;
}
.add_btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 120%;
    background: #076deb;
    width: 100%;
    height: 100%;
    transition: all .6s;
}
.add_btn:hover:before {
    right: 0;
}
.add_btn:hover {
    border-color: #076deb;
    color: #fff;
}
.add_btn:active {
    transform: translateY(2px);
}